{% extends "base.html" %}
{% block pagetitle %}
    <div class="page-title-alt-bg"></div>
    <div class="page-title-box">
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0);">主页</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">股票分析</a></li>
            <li class="breadcrumb-item active">000001.SZ</li>
        </ol>
        <h4 class="page-title">平安银行（000001.SZ）</h4>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">分析项目</h4>

                <ul class="nav nav-pills navtab-bg nav-justified">
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link active">
                            <i class="dripicons-bell" style="font-size: 25px"></i><br/>综合研判
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link">
                            走势预测
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link">
                            股票估值
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link">
                            资金流向
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link">
                            筹码分布
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link">
                            规则统计
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link">
                            全局指南
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link">
                            财务指标
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link">
                            公告新闻
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link">
                            研报评级
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link">
                            基础数据
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link">
                            股吧聚合
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" aria-expanded="false" class="nav-link">
                            行为分析
                        </a>
                    </li>
                </ul>
            </div> <!-- end card-box-->
        </div>
    </div>
{% endblock %}